@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --background: hashtag#ffffff;
 --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
 :root {
 --background: hashtag#0a0a0a;
 --foreground: hashtag#ededed;
 }
}

body {
 color: var(--foreground);
 background: var(--background);
 font-family: Arial, Helvetica, sans-serif;
 animation: "spin-slow", "spin 8s linear infinite",

}



.bg-multiple {
  background-image: url('/hero-bg.png'), url('/background.png');
  background-size:auto, contain;/*  Adjust sizes as needed */
 background-position: center, top right; /*  Adjust positions as needed */
 }

 .bg-food{
  background-image: url('/bg-f.png'), url('/feedback-bg.png');
  background-size:auto, cover;/*  Adjust sizes as needed */
 background-position: center, top right;
 background-repeat: no-repeat;
}




